.contact-contact11 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.contact-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact-image {
  width: 30px;
  height: 50px;
  object-fit: cover;
}
 
.contact-text1 {
  text-align: center;
}
 
.contact-max-width {
  display: flex;
  flex-direction: column;
}
 
.contact-row {
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.contact-content1 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.contact-icon1 {
  width: 32px;
  height: 32px;
}
 
.contact-contact-info1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-email {
  text-align: center;
}
 
.contact-content2 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.contact-icon3 {
  width: 32px;
  height: 32px;
}
 
.contact-contact-info2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-phone {
  text-align: center;
}
 
.contact-content3 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
 
.contact-icon5 {
  width: 32px;
  height: 32px;
}
 
.contact-contact-info3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-address {
  text-align: center;
}
 
.contact-fragment1 {
  display: contents;
}
 
.contact-text5 {
  display: inline-block;
}
 
.contact-fragment2 {
  display: contents;
}
 
.contact-text6 {
  display: inline-block;
}
 
.contact-fragment3 {
  display: contents;
}
 
.contact-text7 {
  display: inline-block;
}
 
.contact-fragment4 {
  display: contents;
}
 
.contact-text8 {
  display: inline-block;
}
 
.contactroot-class-name {
  padding-top: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-theme-primary2);
}
 
@media(max-width: 1200px) {
  .contact-row {
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 991px) {
  .contact-content1 {
    width: 50%;
  }
  .contact-content2 {
    width: 50%;
  }
  .contact-content3 {
    width: 50%;
  }
}
 
@media(max-width: 479px) {
  .contact-row {
    flex-direction: column;
  }
  .contact-content1 {
    width: 100%;
  }
  .contact-content2 {
    width: 100%;
  }
  .contact-content3 {
    width: 100%;
  }
}
